#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #intro {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 10px;
    width: 100%;
    height: auto;
    
    text-align: center;
  }